[Unit]
Description=rpi-security service
After=multi-user.target

[Service]
Type=idle
StandardOutput=syslog
StandardError=syslog
TimeoutStartSec=15
EnvironmentFile=/etc/rpi-security-environment
ExecStart=/usr/local/bin/rpi-security.py
ExecStop=/usr/bin/pkill rpi-security.py


[Install]
WantedBy=multi-user.target
